extends ../layout
block content
  .container
    if searchitems!=""
      table
        tr
          th Name
          th Description
          th Category
          th Link
          th SellerCount
        for searchitem in searchitems
          tr
            td #{searchitem.name}
            td #{searchitem.description}
            td #{searchitem.category}
            td
              a(href="/item/"+searchitem.id) Link
            td #{searchitem.SellerCount} seller selling this!
    else
      | Sorry, couldn't find "#{query}".